name: Test Package

on:
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  lint_and_test:
    name: Linting and Testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: dart pub get
      - run: dart run build_runner build --delete-conflicting-outputs
      # - run: dart format --fix .
      # - run: dart analyze --no-fatal-warnings
      - run: dart test
